services/WebServiceListVehicleService/src/th/vehicles/webservicelistvehicleservice/WebServiceListVehicleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WebServiceListVehicleService" targetNamespace="http://vehicles.th/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://vehicles.th/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vehicles.th/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<import namespace="http://vehicles.th/" schemaLocation="http://localhost:8080/webServiceVehicles/services/WebServiceListVehiclePort?xsd=webservicelistvehicle_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="GetConfiscateList">
    <wsdl:part name="parameters" element="tns:GetConfiscateList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetInterceptListResponse">
    <wsdl:part name="parameters" element="tns:GetInterceptListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCrimeList">
    <wsdl:part name="parameters" element="tns:GetCrimeList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCarListResponse">
    <wsdl:part name="parameters" element="tns:GetCarListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPersonList">
    <wsdl:part name="parameters" element="tns:GetPersonList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCarList">
    <wsdl:part name="parameters" element="tns:GetCarList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTrcListResponse">
    <wsdl:part name="parameters" element="tns:GetTrcListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTicketList">
    <wsdl:part name="parameters" element="tns:GetTicketList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetConfiscateListResponse">
    <wsdl:part name="parameters" element="tns:GetConfiscateListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTrcList">
    <wsdl:part name="parameters" element="tns:GetTrcList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCrimeListResponse">
    <wsdl:part name="parameters" element="tns:GetCrimeListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLostCarList2">
    <wsdl:part name="parameters" element="tns:GetLostCarList2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPersonListResponse">
    <wsdl:part name="parameters" element="tns:GetPersonListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTicketListResponse">
    <wsdl:part name="parameters" element="tns:GetTicketListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetInterceptList">
    <wsdl:part name="parameters" element="tns:GetInterceptList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLostCarListResponse">
    <wsdl:part name="parameters" element="tns:GetLostCarListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLostCarList2Response">
    <wsdl:part name="parameters" element="tns:GetLostCarList2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccidentCarList">
    <wsdl:part name="parameters" element="tns:GetAccidentCarList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part name="SQLException" element="tns:SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLostCarList">
    <wsdl:part name="parameters" element="tns:GetLostCarList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccidentCarListResponse">
    <wsdl:part name="parameters" element="tns:GetAccidentCarListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetVehicleList">
    <wsdl:operation name="GetLostCarList">
      <wsdl:input name="GetLostCarList" message="tns:GetLostCarList">
    </wsdl:input>
      <wsdl:output name="GetLostCarListResponse" message="tns:GetLostCarListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInterceptList">
      <wsdl:input name="GetInterceptList" message="tns:GetInterceptList">
    </wsdl:input>
      <wsdl:output name="GetInterceptListResponse" message="tns:GetInterceptListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTrcList">
      <wsdl:input name="GetTrcList" message="tns:GetTrcList">
    </wsdl:input>
      <wsdl:output name="GetTrcListResponse" message="tns:GetTrcListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPersonList">
      <wsdl:input name="GetPersonList" message="tns:GetPersonList">
    </wsdl:input>
      <wsdl:output name="GetPersonListResponse" message="tns:GetPersonListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCarList">
      <wsdl:input name="GetCarList" message="tns:GetCarList">
    </wsdl:input>
      <wsdl:output name="GetCarListResponse" message="tns:GetCarListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLostCarList2">
      <wsdl:input name="GetLostCarList2" message="tns:GetLostCarList2">
    </wsdl:input>
      <wsdl:output name="GetLostCarList2Response" message="tns:GetLostCarList2Response">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccidentCarList">
      <wsdl:input name="GetAccidentCarList" message="tns:GetAccidentCarList">
    </wsdl:input>
      <wsdl:output name="GetAccidentCarListResponse" message="tns:GetAccidentCarListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConfiscateList">
      <wsdl:input name="GetConfiscateList" message="tns:GetConfiscateList">
    </wsdl:input>
      <wsdl:output name="GetConfiscateListResponse" message="tns:GetConfiscateListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCrimeList">
      <wsdl:input name="GetCrimeList" message="tns:GetCrimeList">
    </wsdl:input>
      <wsdl:output name="GetCrimeListResponse" message="tns:GetCrimeListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTicketList">
      <wsdl:input name="GetTicketList" message="tns:GetTicketList">
    </wsdl:input>
      <wsdl:output name="GetTicketListResponse" message="tns:GetTicketListResponse">
    </wsdl:output>
      <wsdl:fault name="SQLException" message="tns:SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceListVehicleServiceSoapBinding" type="tns:GetVehicleList">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLostCarList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetLostCarList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetLostCarListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInterceptList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetInterceptList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetInterceptListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTrcList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetTrcList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTrcListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPersonList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetPersonList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPersonListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCarList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCarList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCarListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccidentCarList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetAccidentCarList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccidentCarListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLostCarList2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetLostCarList2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetLostCarList2Response">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConfiscateList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetConfiscateList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetConfiscateListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCrimeList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCrimeList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCrimeListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTicketList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetTicketList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetTicketListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceListVehicleService">
    <wsdl:port name="WebServiceListVehiclePort" binding="tns:WebServiceListVehicleServiceSoapBinding">
      <soap:address location="http://localhost:8080/webServiceVehicles/services/WebServiceListVehiclePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
